// =============================================================================
// sizes
// =============================================================================

// Bootstrapの $spacers と値を統一
// https://github.com/twbs/bootstrap/blob/v4.3.1/scss/_variables.scss#L124

$a-spacer: 1rem;
$a-margin-xs: $a-spacer * 0.25;
$a-margin-sm: $a-spacer * 0.5;
$a-margin-md: $a-spacer * 1;
$a-margin-lg: $a-spacer * 1.5;
$a-margin-xl: $a-spacer * 3;

$a-padding-xs: $a-margin-xs;
$a-padding-sm: $a-margin-sm;
$a-padding-md: $a-margin-md;
$a-padding-lg: $a-margin-lg;
$a-padding-xl: $a-margin-xl;

// Bootstrapの $grid-breakpoints をベースにiOS用のサイズを定義
$a-grid-breakpoints--ios: (
  xs: 0,
  iphone5: 320px,
  iphone6: 375px,
  iphone6plus: 414px,
  ipad: 768px,
  ipadpro: 1024px,
  xl: 1200px
) !default;

// ここからプロジェクト固有
// -----------------------------------------------------------------------------
