
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

$_colorText: #333;

@mixin _linkEffect {
  transition: 0.2s linear;
  transition-property: color;
}

body {
  color: $_colorText;
  background-color: #ececec;
}

a {
  color: $_colorText;
  text-decoration: underline;
  text-underline-position: under;
  @include _linkEffect;

  &:hover {
    color: lighten($_colorText, 0.3);
  }
}
