
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: dapicons;
  font-style: normal;
  font-weight: normal;
  src:
    url('../fonts/dapicons.woff') format('woff'),
    url('../fonts/dapicons.ttf') format('truetype');
}

--colors-text: #333;
--colors-hover: #666;

body {
  color: var(--colors-text);
  background-color: #ececec;
  font-family: 'Noto Sans JP', 'PT Serif', georgia, 'Times New Roman', times, serif;
  font-weight: 500;
}

a {
  color: var(--colors-text);
  text-decoration: underline;
  text-underline-position: under;
  transition: 0.2s linear;
  transition-property: color;
}

a:hover {
  color: var(--colors-hover);
}
