/* Variables
   ========================================================================== */

:root {
  --marginBottom_section: 20rem;
}

/* Block
   ========================================================================== */

.root {
  display: block;
  background-color: #e9e9e9;
  background-image: url("/static/images/bg_pattern.png");
  background-repeat: repeat;
}

/* Elements
   ========================================================================== */

.lines {
  /* TODO: height: 100% */
  display: block;
  background-image: url("/static/images/bg_lines.png");
  background-position: center top;
  background-repeat: repeat-y;
  width: 100%;
  padding: 100px;
}

.section {
  margin-bottom: var(--marginBottom_section);
}

.pageHeader {
  margin-bottom: var(--marginBottom_section);
}

.blogLink {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  transition-property: opacity;
  transition: 0.3s linear;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.sectionTitle {
  text-align: center;
  margin-bottom: 4rem;
}
