/* Block
   ========================================================================== */

.root {
  display: block;
  background-color: #e9e9e9;
  background-image: url("/static/images/bg_pattern.png");
  background-repeat: repeat;
}

/* Elements
   ========================================================================== */

.lines {
  /*TODO: height: 100%*/
  background-image: url("/static/images/bg_lines.png");
  background-position: center top;
  background-repeat: repeat-y;
  width: 100%;
  padding: 100px;
}

.pageHeader {
  margin-bottom: 16rem;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 4rem;
}
