:root {
  --margin-top: 12em;
  --base: {
    text-align: center;
    display: flex;
  };
}

/* Block
   ========================================================================== */

.base {
  @apply --base;
}

.base_modifier {
  composes: base;
  margin-top: var(--margin-top);
}

/* Elements
   ========================================================================== */

.heading {
  color: red;
  font-size: 12px;
}

.heading_modifier {
  composes: heading;
  color: blue;
}
