/* Block
   ========================================================================== */

.root {
  display: block;
  text-align: center;
}

/* Elements
   ========================================================================== */

.logo {
  margin-bottom: 7rem;
}

.avatar {
  display: flex;
  justify-content: center;
}
