/* Block
   ========================================================================== */

.root {
  display: flex;
  flex-direction: column;
  flex-content: flex-start;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Elements
   ========================================================================== */

.item {
  margin-bottom: 20rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}
