:root {
  --margin-top: 12em;
}

/* Block
   ========================================================================== */

.base {
  text-align: center;
  display: flex;
}

.base_modifier {
  composes: base;
  margin-top: var(--margin-top);
}

/* Elements
   ========================================================================== */

.heading {
  color: red;
  font-size: 12px;
}

.heading_modifier {
  composes: heading;
  color: blue;
}
